* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    @media screen {
        max-width: 1440px;
    }
    
    
}

#body  {
    width: 1400px;
    height: auto;
    margin: 0%;
    padding-left: 0%;

}


#header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;


}
.headerLogo{
    width: 70px;
    height: 70px;
    
    
    


}

#nav {
    padding: 0%;
    margin: 0%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    
}
#nav ul {
    list-style-type: none;
    padding: 0%;
    margin: 10px;
    display: flex;
    width: 100%;
    height: 100%;



}
#nav li{
    margin:0 15px;
    

}


#main {
    max-width: 1400px;
    height: 100vh;
    padding: 0%;
    margin: 0%; 
    background-image: url(../images/micralgas-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-decoration-color: aliceblue;
    
    }

}
#main p {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    line-height: 20px;
}
#contain-form{
    width:300px ;
    height: 300px;
    

}
h1{
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
h2{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    text-decoration-color: aliceblue;
    background-color: azure;

}
h3{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    line-height: 25px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.conteiner-sm {
    margin: 0%;
    padding: 0%;
    display: grid;
    image-rendering: auto;

}
.contacto-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 40px;
    height: 200px;
    
    
    

}


#footer{
    width: 100%;
    height: 80px;
    background-color: grey;
    display: flex;
    text-align: left;
    position: fixed;
    bottom: 0%;
    line-height: 1;
}

.footerNav ul{
    list-style-type: none;
    padding: 0%;
    margin: 15px;
    display: flex;
    justify-content: center;

}
.footerNav li{
    margin: 0 15px;
}

.footerLogo {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: auto;
}

.footerRedes a {
    display: flex;
    width: 20px;
    height: 20px;
    padding: auto;
    margin: 5px;
    position: relative;
    
}

.footerNavCopy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-end
}